#requirements.txt

# Web 框架
Flask==3.1.0

# 模板引擎
Jinja2==3.1.6
MarkupSafe==3.0.2

# Flask 依赖
itsdangerous==2.2.0
click==8.1.8
blinker==1.9.0


# 文件上传安全
Werkzeug==3.1.3

# 其它（如有用到 pickle/struct/collections 这些是标准库，不需要写）
chardet>=5.0.0
